@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --roxoPrincipal: #420094;
    --preto: #000000;
    --marrom: #1E0101;
    --cinza: #6F6F6F;
    --roxopastel: rgba(240, 223, 255, 1);
    --abalateral: rgba(173, 172, 233, 1);
}
body{
    display:flex;
    height: 100vh;
}

h1{
    font-family: "Jockey One", sans-serif;
}
/*
    Fazendo o header da home
*/


/* fim do header
*/

.menu{
    width: 35vh;
    background-color: var(--abalateral);
}
.menu h1{
    padding: 3vh;
    font-size: 3rem;
    color: var(--roxoPrincipal) 
}
.menu nav ul li{
    display:flex;
    flex-direction: row;
    align-items:center;
    padding-left: 25px;
}
.menu nav ul li img{
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}
.menu nav ul li a{
    color: var(--preto);
    text-decoration: none;
    font-family: "Jockey One", sans-serif;
    font-size: 2rem;
    padding: 2vh;
}

#playlists{
    padding-top: 5vh;
}

.playlists h1{
    color: var(--preto);
    font-size: 2rem;
}

.quadrado{
    width: 7vh;
    height: 7vh;
    background-color: var(--marrom);
    margin-right: 1vh;
}
.playlist{
    width: 30vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Jockey One", sans-serif;

}
.playlist h3{
    color: var(--cinza)
}

#soundwaveabalateral{
    font-size: 3rem;
}

.click {
    transition: all 1s ease;
}
.click a{
    transition: all 1s ease;
}
.click:hover{
    background-color: var(--roxoPrincipal);
    color: var(--roxopastel);
}

.click:hover a{
    font-size: 3rem;
}

header{
    display: flex;
    width: 100vw;
    height: 20vh;
}
.logoholder {
    display: flex; 
    width: 100%;  
    height: 100%;  
}

.quadradologo{
    padding-left: 50px;
    display: flex;
    width: 90%;
    height: 15vh;
    background-color: var(--roxopastel);
    align-items: center;
    justify-content: center;
}
.triangulo{
    width: 10%;
    height: 15vh;
    background: linear-gradient(to bottom right,var(--roxopastel) 50%, white 50%);
    flex: 1;
}
#logo{
    width: 250px;;
    height: 100%;
}

.titulo{
    color: var(--roxoPrincipal);
    font-size: 7rem;
    margin-right: 50px;
    margin-top: 30px;
}
#info{
    position: fixed;
    right: 70px;
    top: 0;
}
