@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --roxoPrincipal: #420094;
    --preto: #000000;
    --marrom: #1E0101;
    --cinza: #6F6F6F;
    --roxopastel: rgba(240, 223, 255, 1);
    --abalateral: rgba(173, 172, 233, 1);
}
body{
    display:flex;
    height: 100vh;
}

h1{
    font-family: "Jockey One", sans-serif;
}
/*
    Fazendo o header da home
*/
header{
    display: flex;
    margin-bottom: 80vh;
}
#cassetemascote{
    width: 65vh;
    height: 48vh;
    padding-bottom: 22vh;
}
#infoheader{
    display: flex;
    padding-left: 10vh;
    height: 6vh;
    justify-content: right;
}
#soundwave{
    padding-left: 50vh;
    font-size: 5rem;
    padding-top: 2vh;
}
.logonome{
    display:Flex;
    width: 150vh;
    background-color: var(--roxopastel);    
}

/* fim do header
*/

.menu{
    width: 35vh;
    background-color: var(--abalateral);
}
.menu h1{
    padding: 3vh;
    font-size: 2.5rem;
    color: var(--roxoPrincipal) 
}
.menu nav ul li{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.menu nav ul li img{
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}
.menu nav ul li a{
    color: var(--preto);
    text-decoration: none;
    font-family: "Jockey One", sans-serif;
    font-size: 2rem;
    padding: 2vh;
}

#playlists{
    padding-top: 5vh;
}

.playlists h1{
    color: var(--preto);
    font-size: 2rem;
}

.quadrado{
    width: 7vh;
    height: 7vh;
    background-color: var(--marrom);
    margin-right: 1vh;
}
.playlist{
    width: 30vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Jockey One", sans-serif;

}
.playlist h3{
    color: var(--cinza)
}

#soundwaveabalateral{
    font-size: 2rem;
}

.click{
    transition: 1s;
}
.click:hover{
    font-size: 2.5rem;
    background-color: var(--roxoPrincipal);
    color: var(--roxopastel);
}